.main-background
{
    background-color: #d8b78e;
    margin-left: 180px;
    margin-right: 180px;
    height: 1000px;
}

.firstelement
{
    background-color: #be9052;
    color: #a62500;
    font-size: 28px;
    font-family: play;
    margin-top: -40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
}

.secondelement
{
    float: right;
    margin-right: 100px;
}

.insider
{
    color: #a62500;
    font-size: 16px;
}

.helpbutton
{
    background-color: #950006;
    color: white;
    font-family: play;
    font-size: 14px;
    width: 136.141px;
    height: 30px;
    margin: 10px;
}

.helpbutton-active
{
    background-color: #be9052;
    color: white;
    font-family: play;
    font-size: 14px;
    width: 136.141px;
    height: 30px;
    margin : 10px;
}

.thirdelement
{
    margin-left : 10px;
}

.fourthelement
{
    margin-left: 20px;
}

th
{
    background-color: #be9052;
    color: #9d1d15;
    font-family: Old Baskerville Face;
    font-size: 17px;
    font-weight: bold;
}

.firstrow
{
    background-color: #FFF2D0;
    color: #9d1d15;
    font-family: Old Baskerville Face;
    font-weight: bold;
}