#fbboss
{
    background:    #3d85c6;
background:    -webkit-linear-gradient(#3d85c6, #073763);
background:    linear-gradient(#3d85c6, #073763);
border-radius: 5px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 13px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
}

.main-background
{
    background-color: #d8b78e;
    margin-left: 180px;
    margin-right: 180px;
    height: 1000px;
}

.firstelement
{
    background-color: #be9052;
    color: #a62500;
    font-size: 28px;
    font-family: play;
    margin-top: -40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
}

.secondelement
{
    float: right;
    margin-right: 100px;
}

.insider
{
    color: #a62500;
    font-size: 16px;
}

.helpbutton
{
    background-color: #950006;
    color: white;
    font-family: play;
    font-size: 14px;
    width: 136.141px;
    height: 30px;
    margin: 10px;
}

.helpbutton-active
{
    background-color: #be9052;
    color: white;
    font-family: play;
    font-size: 14px;
    width: 136.141px;
    height: 30px;
    margin : 10px;
}

.thirdelement
{
    margin-left : 10px;
}

.fourthelement
{
    margin-left: 20px;
}

th
{
    background-color: #be9052;
    color: #9d1d15;
    font-family: Old Baskerville Face;
    font-size: 17px;
    font-weight: bold;
}

.firstrow
{
    background-color: #FFF2D0;
    color: #9d1d15;
    font-family: Old Baskerville Face;
    font-weight: bold;
}

.inputelements
{
    width: 450px;
    height: 40px;
    background-image: url(../img/input_back.png);
    background-color: #d8b78e;
    border-width: 0px;
    border: 0;
    margin-left: 20px;
    color: white;
    font-family: Baskerville Old Face;
    font-size: 15px;
    padding-left: 10px;
}

.inputelements2
{
    width: 214px;
    height: 40px;
    background-image: url(../img/input_back.png);
    background-color: #d8b78e;
    border-width: 0px;
    border: 0;
    margin-left: 20px;
    color: white;
    font-family: Baskerville Old Face;
    font-size: 15px;
    padding-left: 10px;
}

::-webkit-input-placeholder { /* Chrome */
  color: #7a290c;
  padding-left: 20px;
  font-family: Baskerville Old Face;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7a290c;
  padding-left: 20px;
  font-family: Baskerville Old Face;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7a290c;
  opacity: 1;
    padding-left: 20px;
  font-family: Baskerville Old Face;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #7a290c;
  opacity: 1;
    padding-left: 20px;
  font-family: Baskerville Old Face;
}

.submitbutton
{
    background-color: #612d0b;
    color: #bf996b;
    margin-left: 430px;
}
